/*******************************************
 * © 2019 Charlie Hay
 * ---------------------
 * Variable | Styles
 ******************************************/

 /* GRAY */
$lightestGray: #cccccc;
$lightGray: #999999;
$gray: #666666;
$darkGray: #444444;
$darkestGray: #222222;

/* BLACK */
$black: #111111;

/* WHITE */
$white: #ffffff;
$offWhite: #f5f5f5;

/* BLUE */
$blue: #85C4D2;
$darkBlue: #282d33;

$red: #CF3F30;
$yellow: #ede04d;
$green: #15cd72;
$borderRadius: 5px;
$mobile: 500px;
$desktop: 780px;