/*******************************************
 * © 2019 Charlie Hay
 * ---------------------
 * Wildcard | Styles
 ******************************************/

* {
  letter-spacing: none;
  color: #222;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
