/*******************************************
 * 
 * ---------------------
 * FONTS
/******************************************/
@font-face {
    font-family: avlo;
    src: url("../fonts/thin/thin-s.otf");
    font-weight: 200;
    font-style: normal; }

@font-face {
    font-family: avlo;
    src: url("../fonts/light/light-s.otf");
    font-weight: 300;
    font-style: normal; }

@font-face {
    font-family: avlo;
    src: url("../fonts/regular/regular-s.otf");
    font-weight: 400;
    font-style: normal; }

@font-face {
    font-family: avlo;
    src: url("../fonts/medium/medium-s.otf");
    font-weight: 500;
    font-style: normal; }

@font-face {
    font-family: avlo;
    src: url("../fonts/bold/bold-s.otf");
    font-weight: 700;
    font-style: normal; }

@font-face {
    font-family: avlo;
    src: url("../fonts/black/black-s.otf");
    font-weight: 800;
    font-style: normal; }

@font-face {
    font-family: avlo;
    src: url("../fonts/thinitalic/thinitalic-s.otf");
    font-weight: 200;
    font-style: italic; }

@font-face {
    font-family: avlo;
    src: url("../fonts/lightitalic/lightitalic-s.otf");
    font-weight: 300;
    font-style: italic; }

@font-face {
    font-family: avlo;
    src: url("../fonts/regularitalic/regularitalic-s.otf");
    font-weight: 300;
    font-style: italic; }

@font-face {
    font-family: avlo;
    src: url("../fonts/mediumitalic/mediumitalic-s.otf");
    font-weight: 500;
    font-style: italic; }

@font-face {
    font-family: avlo;
    src: url("../fonts/bolditalic/bolditalic-s.otf");
    font-weight: 700;
    font-style: italic; }

@font-face {
    font-family: avlo;
    src: url("../fonts/blackitalic/blackitalic-s.otf");
    font-weight: 800;
    font-style: italic; }

.thin          {font-family: avlo; font-weight: 200; font-style: normal;}
.light         {font-family: avlo; font-weight: 300; font-style: normal;}
.regular       {font-family: avlo; font-weight: 400; font-style: normal;}
.medium        {font-family: avlo; font-weight: 500; font-style: normal;}
.bold          {font-family: avlo; font-weight: 700; font-style: normal;}
.black         {font-family: avlo; font-weight: 800; font-style: normal;}
.thinitalic    {font-family: avlo; font-weight: 200; font-style: italic;}
.lightitalic   {font-family: avlo; font-weight: 300; font-style: italic;}
.regularitalic {font-family: avlo; font-weight: 400; font-style: italic;}
.mediumitalic  {font-family: avlo; font-weight: 500; font-style: italic;}
.bolditalic    {font-family: avlo; font-weight: 700; font-style: italic;}
.blackitalic   {font-family: avlo; font-weight: 800; font-style: italic;}
